@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');


body {
    display: flex;
    row-gap: 100px;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.headtext {
    font-family: "DM Mono", monospace;
    font-weight: 600;
    font-style: normal;
    font-size: 60px;
    color: azure;
}

.grid {
    display: grid;
    height: 300px;
    width: 350px;
    column-gap: 50px;
    justify-content: center;
}

.box {
    background-color: hsl(169, 67%, 39%);
    border-radius: 20px;
    border: 15px solid white;


}